body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    padding-left: 20px;
    padding-right: 100px;
}

.container{

    background-size: cover;
    height: 30%;
    font-size: large;

}

.parallax {
    background-image: url("img_2719-2.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome{
    text-align: center;

}

.navigation {
    display:block;
    border: 1px solid
    background: purple;
    justify-content: center;

}


.photos{
    list-style-type: none;
    padding: 0;
}

.photos li{
    display: flex;
    padding-left: 12px;
}
#aboutus{
    font-style:italic;

}

#contact{
    font-style:italic;
}